<!-- Featueres section -->

<div class="row justify-content-center text-center mt-lg-3">
    <div class="col-lg-4">
        <img class="d-block mx-auto mb-3" src="{{ `images/privacy.jpg` | relURL }}" width="80" height="80" alt="Bootstrap">
        <h2 class="h2">Private letter exchange <small class="d-none">🛡️</small></h2>
        <p>Send an anonymous letter online to a random stranger to ignite a potential friendship!</p>
    </div>
    <div class="col-lg-4">
        <img class="d-block mx-auto mb-3" src="{{ `images/translator.jpg` | relURL }}" width="80" height="80" alt="Bootstrap">
        <h2 class="h2">Built-in translator <small class="d-none">🚀</small></h2>
        <p>Use our built-in Large-Language-Model-powered translator to connect seamlessly with our community of word lovers around the globe.</p>
    </div>
    <div class="col-lg-4">
        <img class="d-block mx-auto mb-3" src="{{ `images/profile.jpg` | relURL }}" width="80" height="80" alt="Bootstrap">
        <h2 class="h2">Profile Customization <small class="d-none">📈</small></h2>
        <p>Customize your profile with your booklists, your favorite artists, and your interests, and wait to be matched with like-minded pen pals!</p>
    </div>
</div>

<div class="row justify-content-center text-center mt-lg-3">
    <div class="col-lg-4">
        <h2 class="h2">Letter editor <small class="d-none">🦉</small></h2>
        <p>Use our letter editor to customize your font, letter cover and background design to add your personal touch and impress your pen pals.</p>
    </div>
    <div class="col-lg-4">
        <h2 class="h2">Lagged letter delivery <small class="d-none">✨</small></h2>
        <p>Opt-in to lagged letter delivery mode to foster slow-paced, leisurely, and thoughtful discussions and interactions and relieve the pressure of constant communication overload.</p>
    </div>
    <div class="col-lg-4">
        <h2 class="h2">Letter organization <small class="d-none">🧰</small></h2>
        <p>Highlight or export a meaningful letter exchange with your pen pal and organize the letters you sent and received with our letter collection tool.</p>
    </div>
</div>
